{{ if ne .Config.OutputFormat "plain" }}---
title: "{{ .Title }}"
description: "{{ .Description }}"
date: {{ .GeneratedAt.Format "2006-01-02" }}
---

{{ end }}# {{ .Title }}

{{ .Description }}

## Policies by Namespace

{{ range $ns, $docs := .ByNamespace }}
### {{ $ns }}

| Policy | Description |
|--------|-------------|
{{ range $docs }}| [{{ .Title }}]({{ .Path }}) | {{ .PolicyName }} |
{{ end }}
{{ end }}

---
*Generated on {{ .GeneratedAt.Format "2006-01-02 15:04:05 UTC" }}*